<% layout('layouts/boilerplate') %>

    <form action="/register" method="POST" class="validated-form mt-3" novalidate>
        <div class="col-4 offset-4">
            <h1 class="text-center mb-3">Register</h1>
            <div class="mb-3">
                <div class="form-floating">
                    <input class="form-control" type="text" id="username" name="username"
                        placeholder="Place your Username" required>
                    <label for="username" class="form-label">Username: </label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-floating">
                    <input class="form-control" type="email" id="email" name="email" placeholder="Place email here"
                        required>
                    <label for="email" class="form-label">Email: </label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

            </div>
            <div class="mb-0">
                <div class="form-floating">
                    <input class="form-control" type="password" id="password" name="password"
                        placeholder="Place your password" required>
                    <label for="password" class="form-label">Password: </label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                By registering you agree to the<button class="btn btn-link" data-bs-toggle="modal"
                    data-bs-target="#modal">terms of use</button>
                <div class="modal fade" id="modal">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1>Terms of Use</h1>
                                <button class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem
                                cum commodi quia consequatur maxime, numquam officiis consequuntur rerum quam incidunt
                                molestias dolores molestiae odio voluptatibus quae, nesciunt, modi assumenda magnam.
                                Esse minima non aliquam explicabo dolorum, aspernatur velit omnis fugiat unde nam optio
                                libero beatae itaque voluptatum. Cumque velit asperiores culpa qui aliquam quos vel ipsa
                                odit? Expedita quo accusamus sapiente ratione laborum tempora, amet repellendus, in
                                optio laboriosam consectetur dolore. Tempore suscipit ipsam, sequi dolor quisquam
                                sapiente corporis vel ducimus non eos nobis laboriosam, inventore, quidem expedita velit
                                eaque rem molestias. Fugit totam sunt necessitatibus qui, expedita eaque distinctio
                                architecto alias officia possimus nisi accusamus ipsam repellendus blanditiis
                                voluptates? Illo adipisci accusamus pariatur debitis temporibus tenetur explicabo saepe
                                veritatis harum quas, similique distinctio facilis voluptates possimus omnis. Atque
                                sapiente unde neque laboriosam repellat esse ab, molestiae sit, nobis provident ipsum
                                laudantium reiciendis possimus dolorem accusantium quia porro? Corporis laudantium sed
                                eum fugit ipsam tempore perspiciatis mollitia ducimus iste eaque, laboriosam illum enim
                                rem, incidunt neque soluta aut eveniet minus. Fugit, atque quis incidunt ipsa
                                repudiandae iusto perferendis consequuntur rem. Cumque ut nisi, deserunt aspernatur enim
                                illo aperiam dolorum aut sed veniam voluptatum a quasi tempore in laboriosam pariatur
                                voluptas hic veritatis facilis velit obcaecati doloribus recusandae dolores. Eveniet nam
                                temporibus sit dignissimos iusto pariatur iste autem dolorum minima! Ut ullam assumenda
                                ipsa incidunt praesentium excepturi unde quisquam cumque libero, ea fugiat omnis
                                obcaecati architecto aspernatur odio tempora. Rem obcaecati nemo incidunt inventore
                                porro necessitatibus sed consequuntur a aperiam aut. Animi vel quae minus iste iusto
                                minima aperiam porro pariatur excepturi tempore exercitationem sit deserunt, quisquam in
                                laboriosam repudiandae rerum eveniet velit nemo ratione atque distinctio culpa? Non
                                consequatur eos ab molestiae quos quod tenetur debitis voluptatem sapiente saepe. Id
                                accusamus soluta rerum voluptates perferendis atque quasi animi, ad sint sit similique
                                earum ut eveniet repellendus minus, tempora exercitationem? Nisi, minus facilis libero
                                doloribus neque blanditiis obcaecati distinctio asperiores provident laudantium minima
                                optio ratione facere? Reiciendis odio laboriosam sint consequuntur commodi beatae
                                molestiae? Quod placeat at cum? Nostrum voluptatibus repellendus modi tempora, officia
                                consectetur voluptatem itaque! Autem, laudantium. Officiis cumque nisi molestias totam
                                autem corporis incidunt? Ad animi aut optio non deserunt aperiam, pariatur dolorum a
                                numquam quidem vero error similique, facilis beatae. Quas eaque beatae exercitationem
                                labore eum quam numquam doloribus quaerat modi deleniti quae recusandae, dolorem commodi
                                optio voluptatum molestiae tenetur minima! Qui perferendis fuga obcaecati tempore
                                molestias.</div>
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success w-100" id="disabledBtn">Register</button>
            </div>
    </form>

    <script src="javascripts/testDisableBtn.js"></script>